/* HEADER */

header{

    .nav-color{
        background: rgb(61, 55, 237);
        background: linear-gradient(0deg, rgba(61, 55, 237, 1) 0%, rgba(9, 0, 137, 1) 49%);
    
        div{
            a{
                .nav-logo{
                    width: 180px;
                    height: auto;
                    padding-left: 20px;
                }
            }

            div{
                div{
                    .nav-lista{
                        list-style: none;
                        display: inline;
                        padding-top: 15px ;
                        padding-right: 20px ;

                        li{
                            display: inline-block;
                            padding-left: 20px;
                            font-family: 'Readex Pro', sans-serif;
                        }
                        
                        li:hover{
                            transform: scale(1.2);
                        }
                        
                        a{
                            text-decoration: none;
                            color: #add5f7;
                            text-shadow: 2px 2px 2px black; 
                        }
                    }
                }
            }
        }
    }

    .nav-sticky{
        position: sticky;
        top: 0;
    }
}