/* PAGINA PRINCIPAL */

main{

    .background{

        background-image: url(../imagenes/general/fondo-agua.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;

        .main-div{
            display: grid;
            margin-left: 10%;
            margin-right: 10%;
            grid-template-columns: 1;
            grid-template-rows: 2fr 2fr;
            
            .carrusel-tamanio{
                width: 100%;

                .carousel-inner{
                    
                    div{
                     
                        .imagen{
                            width: 100%;
                            height: 500px;
                            object-fit: cover;
                        }
                     
                        div{
                           
                            .carrusel-titulo{
                                font-family: 'Permanent Marker', cursive;
                                font-size: 40px;
                                color: yellow;
                                text-shadow: 2px 2px 2px black;
                            }
                        }
                    }
                }
            }
            
            .main-texto{
                background-color: rgba(173, 213, 247, 0.8);
                
                .texto{

                    h1{
                        font-size: 80px;
                        font-family: 'Barlow Condensed', sans-serif; 
                        font-style: italic; 
                        color: white;
                        text-shadow: 2px 2px 2px black;
                        padding-left: 50px; 
                    }

                    p{
                        text-align: center;
                        font-size: 30px;
                        font-family: 'Readex Pro', sans-serif;
                        text-shadow: 1px 1px 1px white; 
                    }
                } 
            }
        }





    }

}